<template>
    <div class="rates">
        <div class="rates__header">
            <h3 class="rates__header-title">
                Курс {{baseRate}} сегодня
            </h3>
            <div class="rates__header-list">
                <div class="rates__header-list-inner">
                    <carousel
                            v-if="Object.keys(rates).length"
                            :navigationPrevLabel="btnBackTopCarousel"
                            :navigationNextLabel="btnNextTopCarousel"
                            :perPage="sizePerElsTop"
                            :paginationEnabled="false"
                            :navigationEnabled="true"
                    >
                        <slide
                                v-for="(el, idx) of Object.keys(rates)"
                                :key="idx"
                        >
                            <div
                                    @click="changeBase(el)"
                                    class="rates__header-el"
                                    :class="{'rates__header-el--active' : el === baseRate}"
                            >
                                {{el}}
                            </div>
                        </slide>
                    </carousel>
                </div>
            </div>
        </div>
        <div class="rates__main">
            <div class="rates__main-input-block">
                <label class="rates__main-label">
                    <input v-model="num" type="number" class="rates__main-input">
                </label>
                <span class="rates__main-input-descr">
                    {{baseRate}}
                </span>
            </div>
            <div class="rates__main-list">
                <carousel
                        v-if="arrList.length"
                        :navigationEnabled="true"
                        :paginationEnabled="false"
                        :navigationPrevLabel="btnBackBottomCarousel"
                        :navigationNextLabel="btnNextBottomCarousel"
                        :perPage="1"
                >
                    <slide
                            v-for="(el, idx) of arrList"
                            :key="idx"
                    >
                        <div
                                v-for="(item, idxI) of el"
                                :key="idxI"
                                class="rates__main-el"
                        >
                            <div class="rates__main-el-top">
                                <div class="rates__main-el-top-left">
                                    {{num === '' ? 1 : num}}
                                </div>
                                <div class="rates__main-el-top-right">
                                    {{baseRate}} =
                                </div>
                            </div>
                            <div class="rates__main-el-bottom">
                                <div class="rates__main-el-bottom-left" contenteditable>
                                    {{(num === '' ? item[1] : item[1] * num).toFixed(2)}}
                                </div>
                                <div class="rates__main-el-bottom-right">
                                    {{item[0]}}
                                </div>
                            </div>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
    </div>
</template>

<script>
    import {Carousel, Slide} from 'vue-carousel';

    export default {
        name: "Rates",
        components: {
            Carousel,
            Slide
        },
        data: () => ({
            num: '',
            sizePerElsTop: 10,
            sizePerEls: null,
            btnNextTopCarousel: `
                    <svg class="rates__header-icon" xmlns="http://www.w3.org/2000/svg" width="7"
                         height="12"
                         viewBox="0 0 7 12" fill="none">
                        <path d="M0.516357 10.58L4.52386 6L0.516357 1.41L1.75011 0L7.00011 6L1.75011 12L0.516357 10.58Z"
                              fill="#CCAE68"/>
                    </svg>`,
            btnBackTopCarousel: `
                <svg class="rates__header-icon rates__header-icon-back"
                     xmlns="http://www.w3.org/2000/svg" width="7"
                     height="12" viewBox="0 0 7 12" fill="none">
                    <path d="M0.516357 10.58L4.52386 6L0.516357 1.41L1.75011 0L7.00011 6L1.75011 12L0.516357 10.58Z"
                          fill="#CCAE68"/>
                </svg>`,
            btnBackBottomCarousel: `
            <div class="rates__pagination-btn rates__pagination-btn-back">
                 <span class="rates__pagination-title">
                    Назад
                </span>
                <svg class="rates__pagination-icon rates__pagination-icon-back" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.590088 10.58L5.17009 6L0.590088 1.41L2.00009 0L8.00009 6L2.00009 12L0.590088 10.58Z" fill="#282828"/>
                </svg>
            </div>
            `,
            btnNextBottomCarousel: `
            <div class="rates__pagination-btn rates__pagination-next">
                <span class="rates__pagination-title">
                    Далее
                </span>
                <svg class="rates__pagination-icon" width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.590088 10.58L5.17009 6L0.590088 1.41L2.00009 0L8.00009 6L2.00009 12L0.590088 10.58Z" fill="#282828"/>
                </svg>
            </div>
            `
        }),
        methods: {
            changeBase(name) {
                this.$store.dispatch('changeBase', name)
            },
        },
        computed: {
            rates() {
                return this.$store.state.rates.rates || {}
            },
            baseRate() {
                return this.$store.state.rates.base
            },
            arrList() {
                const arr = Object.entries(this.rates)
                let size = this.sizePerEls
                let subarray = []
                for (let i = 0; i < Math.ceil(arr.length / size); i++) {
                    subarray[i] = arr.slice((i * size), (i * size) + size)
                }

                return subarray
            }
        },
        created() {
            const showPerPage = () => {
                if (window.innerWidth <= 767) {
                    this.sizePerEls = 2
                    this.sizePerElsTop = 3
                } else {
                    this.sizePerEls = 4
                }
            }
            window.addEventListener('resize', showPerPage)
            showPerPage()

            this.$store.dispatch('getRates')
        }
    }
</script>

<style lang="scss">
    $black: #2B2D33;
    $grey: #B9B9B9;

    .VueCarousel {
        width: 100%;
    }

    .VueCarousel-navigation-button {

        outline: none !important;
    }

    .VueCarousel-navigation-next {
        right: -10px !important;
    }

    .VueCarousel-navigation-prev {
        left: -10px !important;
    }

    .rates {
        background-color: white;
        position: relative;
        max-width: 720px;
        width: 100%;
        margin: 0 auto;

        &__header {
            background-color: #FFE782;
            padding: 30px 24px 0 24px;

            &-icon {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                cursor: pointer;

                &-back {
                    transform: translate(0, -50%) rotate(180deg);
                }
            }

            &-title {
                font-size: 21px;
                font-weight: normal;
                color: $black;
                margin-bottom: 10px;
            }

            &-list {
                display: flex;
                align-items: center;
                position: relative;
                padding: 0 10px;

                &-inner {
                    display: flex;
                    align-items: center;
                    width: 100%;
                }
            }

            &-el {
                font-weight: 500;
                font-size: 14px;
                color: #CCAE68;
                min-width: 60px !important;
                width: 60px !important;
                height: 48px !important;
                display: flex !important;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &--active {
                    background-color: white;
                    color: $black;
                    border-radius: 3px 3px 0 0;
                }
            }
        }

        &__main {
            padding: 30px 24px 20px 24px;

            .VueCarousel-slide {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }

            .VueCarousel-navigation-button {
                margin: 0 !important;
            }

            .VueCarousel-navigation-button {
                position: static !important;
            }

            .VueCarousel-navigation-next {
                transform: none !important;
            }

            .VueCarousel-navigation {
                display: flex;
                justify-content: center;
            }

            .VueCarousel-navigation-prev {
                transform: none !important;
            }

            &-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-top: 20px;
            }

            &-input-block {
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

            &-input {
                width: 100%;
                border: none;
                border-bottom: 1px solid $grey;
                outline: none;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                padding: 4px 4px 4px 0;
                line-height: 0.8;
                text-align: right;
                color: $black;

                & {
                    -moz-appearance: textfield;
                }

                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                }

                &-descr {
                    font-size: 18px;
                    color: $grey;
                    margin-left: 10px;
                }
            }

            &-label {
                width: 120px;
                display: block;
            }

            &-el {
                background: #FFFFFF;
                box-shadow: 0 3px 6px rgba(157, 157, 157, 0.16);
                border-radius: 12px;
                width: 49%;
                padding: 18px 18px 18px 30px;
                margin-bottom: 18px;

                &-top {
                    display: flex;
                    margin-bottom: 20px;
                    font-weight: 300;
                    font-size: 24px;
                    color: $black;

                    &-right {
                        color: $grey;
                        margin-left: 10px;
                    }
                }

                &-bottom {
                    display: flex;
                    align-items: flex-end;

                    &-left {
                        max-width: 83%;
                        overflow: hidden;
                        outline: none;
                        white-space: nowrap;
                        line-height: 1;
                        font-weight: 300;
                        font-size: 48px;
                        color: $black;
                    }

                    &-right {
                        font-weight: 300;
                        font-size: 24px;
                        color: $black;
                        margin-left: 10px;
                    }
                }
            }
        }

        &__pagination {

            &-icon {

                &-back {
                    transform: rotate(180deg);
                }
            }

            &-btn {
                width: 112px;
                height: 34px;
                box-shadow: 0 5px 6px rgba(157, 157, 157, 0.16);
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                cursor: pointer;
                font-weight: 300;
                font-size: 14px;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;

                &-back {
                    flex-direction: row-reverse;
                }
            }
        }
    }

    @media screen and (max-width: 767px) {
        .rates {
            &__main {
                .VueCarousel-slide {
                    flex-direction: column;
                }

                &-el {
                    width: 100%;

                    &-top {
                        font-size: 18px;
                    }

                    &-bottom {

                        &-left {
                            font-size: 38px;
                        }

                        &-right {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
</style>