<template>
    <div class="container">
        <Rates></Rates>
    </div>
</template>

<script>
    import Rates from "@/components/Rates";

    export default {
        name: 'App',
        components: {Rates}
    }
</script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: 'Roboto', sans-serif;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
    }
</style>